* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato';
}
.container {
  display: flex;
  margin: 0 auto;
  width: 70%;
  height: 100vh;
}
.slider-wrapper {
  position: relative;
  margin: auto;
  width: 100%;
  height: 80%;
}
section{
  height: 80%;
  position: relative;
  margin-bottom: 10px;
}
.slider-wrapper .images {
  height: 100%;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
}
.slider-wrapper .images .foto {
  display: none;
  height: 100%;
}
.slider-wrapper .images .foto.active {
  display: block;
  width: auto;
  background-size: cover;
  background-position: center;
}

.ft1{
  background-image: url("../img/foto1.jpg");
}
.ft2{
  background-image: url("../img/foto2.jpg");
}
.ft3{
  background-image: url("../img/foto3.jpg");
}
.ft4{
  background-image: url("../img/foto4.jpg");
}

.prev, .next {
  position: absolute;
  color: #565a5c;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  font-size: 40px;
  cursor: pointer;
}
.next {
  left: auto;
  right: -30px;
}
.prev:hover, .next:hover{
  color: #878e91;
}
.nav {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  padding: 20px;
  border-radius: 999px;
  background: rgba(0,0,0,.7);
  color: white;
}
.nav > i {
  margin: 0 20px;
  cursor: pointer;
  transition: all 200ms linear;
}
.nav > i.active {
  color: blue;
}

.thumbnails{
  display: flex;
}

.mini{
  width: 25%;
  height: 100px;
  background-size: cover;
  background-position: center;
  opacity: 0.3;
  cursor: pointer;
  transition: all 400ms linear;
}

.mini.ft1{
  margin-right: 5px;
}

.mini.ft2, .mini.ft3{
  margin: 0 5px;
}

.mini.ft4{
  margin-left: 5px;
}

.mini.active{
  opacity: 1;
}

.mini:hover{
  opacity: 1;
}
